@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
}
.img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
}
.card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 1rem;
  width: 25%;
  max-width: 325px;
  min-width: 325px;
  height: auto;
}
.title-text {
  font-weight: 700;
  font-size: 22px;
  color: hsl(218, 44%, 22%);
}
.desc-text {
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}
.card-image {
  padding: 10px 10px 0 10px;
}
.card-content {
  padding: 0 30px 30px 30px;
}
